/* You can add global styles to this file, and also import other style files */


@import 'node_modules/bootstrap/scss/bootstrap';
@import "style/_variables.scss";
@import "style/_button.scss";

html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: #1f2629;
  color: white;
}

body {
  max-width: 600px;
  margin: 0 auto;
  background: #1f2629;
  color: white;
}
